<ion-header>
    <ion-toolbar>
      <ion-title>Tag List</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-col>
  
      <ion-card  *ngFor= "let tag of tag_list; let i = index;">
        <ion-row>
        <ion-col size="10">
            <ion-row>
                <ion-col size="4">Tag ID:</ion-col>
                <ion-col >{{tag.tagid}}</ion-col>
              </ion-row>
              <ion-row >
                <ion-col size="4">Asset UID</ion-col>
                <ion-col>{{tag.asset}}</ion-col>
              </ion-row>
              <ion-row >
                <ion-col size="4">Battery ID:</ion-col>
                <ion-col>{{tag.battery_id}}</ion-col>
              </ion-row>
        </ion-col>
        <ion-col size="2" center>
          <ion-icon name="trash" style="width: 20px;height:20px;" (click)="deleteTag(i)"></ion-icon>
          <img src="../../assets/edit.png" style="width: 30px;height:30px;" (click)="editTag(i)"/>
        </ion-col>
      </ion-row>
      </ion-card>
  
  
    </ion-col>
  
  </ion-content>